<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Zte.MtcKitWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Zte.MtcKitWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="EDBB1C7CF94B8E76A15C94F0B5F901649CCC27BD0CB0999489D4B06A66BA5DD053A32BAE9FE1350F7C602968F224F042FE707D4027E47B6CF8A43178A434CE6863C04B31952B986813451925D988E8990E358912171B9470E80F3C8E3323ACB8A4E153DA670F98B1EEA83A1C4F6B3FD847A1A0FAF0D13B59"
      providerName="System.Data.SqlClient" />
    <add name="ConStringEncrypt" connectionString="true" />
    <add name="Member_ConnectionString" connectionString="21B0B67D50EF3C6A23642941F06092C49A5452CE350754A621542C3E5657F734C4349BBC0C3D1C7FCACBD5344395E15044CB896C040D940EDC764DA32DCB0BFBAA7F5F010E094B3ADC818B06DAE31BAE" />
    <add name="EasyTestConnectionString" connectionString="D79115C1887ACFE981E56A558991ABEA6E6837517963BEBC7893080B4D65D244CF3E1FF9B8FB1705027851A3B66E4D7BF0DE4D5E3C938BC9DB4DCE833AE346470640AA2EF51F40DC17E0CE8B9B088385BA07F86F0C49EA670AA905C87FADD91D7EAC49D738F7FE7972863CEDF9220187" />
    <add name="P61FTP" connectionString="D79115C1887ACFE981E56A558991ABEAE7863F47BFBD7C44D96376FD955BA2525BD1367055DE8FB2" />
    <add name="ConnectionString" connectionString="D79115C1887ACFE981E56A558991ABEA6E6837517963BEBC7893080B4D65D244CF3E1FF9B8FB1705027851A3B66E4D7B067B1E3EE9D5AF3F4A89F8A2DBF5550CBAC37797B727C23F7757AD23424D08534C5E321E44DC97EE28A817DC18B64491A3E6C685FAFB8258113AAEA08B6C1733" />
    <add name="ConnectionString1" connectionString="D79115C1887ACFE988647A75BCB5FC02BC29E00EDCA828E509CC8357DFA51EE5A9F0857DD33A597B21DBD60A027582EF764A255A1266000BD672731D2DF74BC51D137FCF5FA47BB6" />
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
      </forms>
    </authentication>
  </system.web>
  <applicationSettings>
    <Zte.MtcKitWin.Properties.Settings>
      <setting name="EasyTest_ReginMainTableService_ReginMainTableService"
        serializeAs="String">
        <value>http://10.63.230.1/RemoteControl/RemoteControlWebservice/Service/ReginMainTableService.asmx</value>
      </setting>
      <setting name="EasyTest_WebUserLoad_Service1" serializeAs="String">
        <value>http://10.63.230.1/UserManager/ServiceNew.asmx</value>
      </setting>
    </Zte.MtcKitWin.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Zte.MtcKitWin.Properties.Settings>
      <setting name="ttttttttttttt" serializeAs="String">
        <value>False</value>
      </setting>
    </Zte.MtcKitWin.Properties.Settings>
  </userSettings>
</configuration>